body{
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
}

.my-logo{
  width: 120px;
}

header .navbar-default{
  background-image: none;
  background-color: #fff;
  box-shadow: none;
}

.navbar {

  /* margin-bottom: 20px; */
  border: none;
}

.navbar-default .navbar-nav>li>a{
  color: #031B4E;
  font-size: initial;
}

header .my-signup{
  background-color: #fff;
  border-color: #0167FF;
  border-radius: 4px;
  margin-top: 15%;
  color: #0167FF;
  padding: 3px 10px;
}
